
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları</h1>
<br />
<a href="/PdfReport/StaticCustomerReport" class="btn btn-outline-success">Statik Pdf Raporu</a>
