@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<form method="post">
    <div class="container">
        <h1>Şifre Yenileme Sayfası</h1>
        <label>Mail Adresinizi Giriniz</label>
        <input type="email" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-outline-success">Şifre Yenileme Linki Gönder</button>
    </div>
</form>