            <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span class="avatar avatar-online"><img src="@ViewBag.image" alt="avatar"><i></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                <div class="arrow_box_right">
                                    <a class="dropdown-item" href="/Member/Profile/Index"><span class="avatar avatar-online"><img src="@ViewBag.image" alt="avatar"><span class="user-name text-bold-700 ml-1">@ViewBag.username</span></span></a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="/Member/Profile/Index"><i class="ft-user"></i> Profil Düzenle</a>
                   <a class="dropdown-item" href="/Member/Reservation/MyCurrentReservation/"><i class="ft-mail"></i> Aktif Rezervasyonlar</a>
                <a class="dropdown-item" href="/Member/Reservation/MyOldReservation/"><i class="ft-check-square"></i> Geçmiş Rezervasyonlar</a>
                <a class="dropdown-item" href="/Member/Reservation/MyApprovalReservation/"><i class="ft-message-square"></i> Onay Bekleyenler</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="/Login/LogOut"><i class="ft-power"></i> Çıkış Yap</a>
                  </div>
                </div>
              </li>
            </ul>
