
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Oteller İçin Şehir ID Getirme</h1>

<form method="post">
    <label>Şehir Adı Giriniz</label>
    <input type="text" class="form-control" name="city" />
    <br />
    <button class="btn btn-outline-success">Şehir Getir</button>
</form>
